@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg"); 
    font-family: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    color: beige;
    overflow-x: hidden;
}

body {
    background-image: radial-gradient(ellipse, rgba(9, 9, 54, 0.767), rgba(4, 4, 39, 0.89), black);
}

header {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 50px black;
}

h2 {
    margin-top: 15px;
}

h2, h3 {
    text-align: center;
    font-weight: normal;
}

h3 {
    margin-bottom: 30px;
}

a {
    color: beige;
    text-decoration: none;
    font-size: larger;
}

.lang-container input {
    display: none;
    visibility: hidden;
    appearance: none;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    top: 55px;
    left: 5px;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
    /* background-color: blue; */
    /* box-shadow: 0px 0px 50px black; */
}

.toggle .common {
    background-color: beige;
    height: 2px;
    width: 20px;
    position: absolute;
    transition: 0.3s ease;
}

.toggle .top {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .mid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-container {
    width: 225px;
    padding: 0 30px 0 30px;
    height: fit-content;
    position: absolute;
    top: 50px;
    box-shadow: 0px 0px 50px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(9, 7, 32);
    /* background-image: radial-gradient(ellipse, rgba(8, 8, 44, 0.767), rgba(4, 4, 39, 0.89), black); */
    transition: 0.5s ease;
    transform: translateX(-225px);
}

.content-container {
    width: 100%;
    padding: 20px;
    transition: 0.5s ease;
}

.sum-container {
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    height: 500px;
    text-align: justify;
    overflow-y: auto;
    box-shadow: 0px 0px 50px black;
}

button {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    background: none;
    color: beige;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 2px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

button.active {
    background-color: #3330da;
    color: white;
    border-bottom: none;
}
  
.content {
    display: none;
}
  
.content.active {
    display: block;
}

input:checked ~ .toggle .top {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .mid {
    opacity: 0;
    /* transform: translateX(20px); */
}

input:checked ~ .tab-container {
    transform: translateX(0);
}

/* input:checked ~ .content-container {
    width: 87%;
    transform: translateX(180px);
    pointer-events: none;
} */

/* @media (max-height: 945px) {
    .tab-container {
        height: 100;
    }
}

@media (max-width: 680px) {
    .tab-container {
        width: 137px;
    }
} */

/* section h2
{
    margin-top: 1rem;
    font-weight: normal;
    text-align: center;
}
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige;
}
#transcript, #summary
{
    padding: 0 30px 0 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
#inner1, #inner2
{
    border: 1px solid beige;
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: justify;
}
#transcript
{
    animation: move-div 0.9s ease-in-out forwards;
}

#summary
{
    animation: move-div 0.5s ease-in-out 1s forwards;
} */


/* @keyframes move-div{
    100%{
        opacity: 1;
    }
}

@media (max-width: 768px) {
    h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .container {
        flex-direction: column;
    }

    #transcript {
        display: none;
    }

    #summary {
        padding: 0 50px 0 50px;
        height: 600px;
        animation: move-div 0.5s ease-in-out forwards
    }
}

@media (max-width: 450px) {
    #summary {
        padding: 0 20px 0 20px;
    }
} */