@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
    /* Legacy iOS */ 
    font-family: 'Poppins';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: radial-gradient(ellipse, rgba(9, 9, 54, 0.767), rgba(4, 4, 39, 0.89), black);
}
body h2
{
    color: beige;
    margin-top: 1rem;
    font-weight: normal;
}
a
{
    color: beige;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: larger;
}
header
{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 0px 50px ;
}
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige;
}
#transcript, #summary
{
    margin: 20px 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
#inner1, #inner2
{
    border: 1px solid beige;
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: justify;
}
#transcript
{
    animation: move-div 0.9s ease-in-out forwards;
}

#summary
{
    animation: move-div 0.5s ease-in-out 1s forwards;
}
@keyframes move-div{
    100%{
        opacity: 1;
    }
}