@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
    /* Legacy iOS */ 
    font-family: 'Poppins';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html
{
    height: 100%;
}
body
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(ellipse, rgba(9, 9, 54, 0.767), rgba(4, 4, 39, 0.89), black);
}
a
{
    color: beige;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: larger;
}
header
{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 0px 50px ;
    position: absolute;
    top: 0;
}
header div a
{
    padding: 3px;
    transition: all 0.2s linear;
    border-bottom: 1px solid transparent;
}
header div a:hover
{
    color: white;
    border-bottom: 1px solid beige;
}
section
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    background: rgba(11, 13, 24, 0.6);
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    position: absolute;
    top: 5%;
    animation: move-form .57s ease-in forwards;
    opacity: 0;
}
.box form
{
    width: 100%;
    height: 100%;
    font-size: larger;
    color: whitesmoke;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
.box form h2
{
    text-align: center;
}
form div h4
{
    font-weight: normal;
}
.mail input, .user input, .pswd input
{
    width: 100%;
    padding: 10px;
    /* border-radius: 10px; */
    background: rgba(0, 0, 0, 0.301);
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    color: whitesmoke;
}
.inputs
{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.inputs #submit, .inputs #reset
{
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    color: whitesmoke;
    cursor: pointer;
}
.message
{
    font-size: small;
    margin: 0 auto 0 auto;
}
@keyframes move-form {
    100%
    {
        transform: translateY(10%);
        opacity: 1;
    }
}