<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidBrief - Home Page</title>
    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="home"><a href="/">Home</a></div>
        <div class="model"><a href="/project">VidBrief</a></div>
        <!-- <div class="login"><a href="/login">Login</a></div> -->
        <!-- <div class="signup"><a href="/signup">Sign Up</a></div> -->
    </header>
    <section>
        <h1>VidBrief : YouTube Transcript Summarizer</h1>
        <div class="block">
            <h3>Introducing a one stop solution for YouTube summaries. Simplify your video-watching experience
                with our YouTube transcript summarizer. Save time and get straight to the point concise summaries.
                Whether it's educational content, tutorials or podcasts, we transform long transcripts into quick,
                digestible summaries that capture all the key points.
            </h3>
        </div>
        <div class="block2">
            <h3>
                What we offer?
            </h3>
            <ul>
                <li>Instant Summaries: Gist of any YouTube video in seconds.</li>
                <li>Customizable Length: You can customize the length of the summary.</li>
                <li>Easy to Use: Simply paste the video link, and let the magic happen.</li>
                <li>Time-Saving: Focus on the information that matters to you.</li>
            </ul>
        </div>
        <div class="block3">
            <h3>Just Sign Up and let us simplify your video-watching experience! </h3>
        </div>
    </section>
    <script>
        const flask_message="{{message}}";
        function showpopup(flask_message){
            alert(flask_message);
        }
        if(flask_message=="Logout Successful."){
            showpopup(flask_message);
        }
    </script>
</body>
</html>